@import '../../styles/settings.scss';

.nav{
  background-color: darken($color-dark, 3%);;
}
.nav_container{
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  

  ul{
    display: flex;
    flex-direction: row;
    
    li{
      padding: 0 10px;
      width: 100%;
      list-style-type: none;
      
      a{
        text-decoration: none;
        color: $color-light;
      }
      a.linkActive{
        color: $color-warning;
      }
      
    }
  }
}

.ico{
  
 
  span{
    padding: 10px;
  font-size: 24px;
  color: $color-light;
}
}

